.right-panel {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 0px 45px;
    justify-content: center;
    height: 100%;
}

.right-panel-bg {
    background-image: url('../../assets/images/gray-bg.png');
    height: 100vh;
    background-size: 100% 100%;
}

.right-panel-cross-btn {
    padding: 15px 0px 0px 25px;
}

.left-panel {
    background-image: url('../../assets/images/MedicalPrescription.gif');
    background-size: 100% 100%;
    text-align: left;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0px 45px;
    justify-content: center;
}

.contact-us-underline {
    width: 750px;
}